body{
  background-color: black;
  color: white;
  font-family: monospace;
}

.box{
	background-color: black;
	line-height: 1.6;
    width: 30%;
	padding: 20px 15px 20px 15px;
	height: 250px;
	overflow: scroll;
	border: 3.5px solid #0dbab1;
	border-radius: 4px;
	margin: 20px 20px 0px 0px;
	font-size: 19px;
	color: #0dbab1;
	list-style-type: none;
	text-align: center;
	scrollbar-color: #0dbab1 black; 
}

h3 {
    cursor: pointer;
}

a:visited, a {
    text-decoration: dashed;
    color: #0dbab1;
}

ul > li {
    display: inline-block;
}

#no_workspaces {
	cursor: pointer;
}

h1 {
	font-size: 35px;
  	font-weight: 200;
}

p {
	font-size: 17px;
}

.mainTitle {
  text-align: center;
  color: #0dbab1;
}

#new_workspace {
    text-align: center;
}

/* body{
  background-color: black;
}
.box{
	background-color: black;
	line-height: 1.6;
	padding: 20px 15px 20px 15px;
	height: 300px;
	border: 3.5px solid #0dbab1;
	border-radius: 4px;
	margin: 20px 10px 0px 20px;
	font-size: 17px;
	color: #0dbab1;
	list-style-type: none;
}
.title{
	font-size: 22px;
}
a:link{
	color:white;
	text-decoration: none;
}
a:visited{
	color:white;	
	text-decoration: none;
}
a:hover{
  font-size:23px;  
}

div#output1{
	animation-name: p-fadein;
	animation-duration: 3s; 
	animation-timing-function: ease-out;
}
div#output2{
	animation-name: p-fadein;
	animation-duration: 3s; 
	animation-timing-function: ease-out;
}
@keyframes p-fadein{
	from{margin-top:550px; opacity: 0.4;}
	to{margin-top: 0px; opacity: 1;}
}
.inputClass{
	width: 30%;
	height: 40px;
	margin: 0 auto;
	margin-top: 25px;
	/*margin-left: 560px;*/
/*}
.custom-butt{
	width: 100px;
	height: 40px;
	margin: 0 auto;
	margin-top: 20px;
	background-color: black;
	border: 3.5px solid #0dbab1;
	border-radius: 2px;
	color: #0dbab1;
}
.container{
	align-items: center;
	justify-content: center;
	display: flex;
}
.random{
  text-align: center;
  margin-top: 15px;
  font-size:21px;
} */